@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:op
 sz,wght@10..72,100..900&family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family
 =Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&fa
 mily=Leckerli+One&family=Nixie+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,2
 00..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Pacifico&family=
 Questrial&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0
 ,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
 );¢§²ò¤VÆ&÷&Fò ÷"—föææR–Ç–â6÷'FW26&Ö–VçFú
 fecha: 17 de febrero de 2025*/ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
} 
header, nav, footer, main{ 
    width: 100%; 
    background-color: #EFE9D5; 
    color:#27445D; 
    padding: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    font-family: "Lato", sans-serif; 
    font-weight: 400px; 
    font-size: 14px; 
} 
h1{ 
    text-align: center; 
   font-family: "Leckerli One", cursive; 
    font-size: 80px; 
    letter-spacing: 7px; 
} 
h4{ 
} 
h2{ 
} 
nav{ 
} 
    text-align: center; 
    font-family: serif; 
    font-size: 40px; 
    color: white; 
    font-weight: 600; 
    letter-spacing: 3px; 
    height: 140px; 
    background-color:#497D74;  
    font-weight: 600; 
nav ul{ 
    text-align: center; 
} 
nav ul li{ 
    width: 10%; 
    min-width: 120px; 
    list-style-type: none; 
    background-color: #71BBB2; 
    color:#27445D; 
    display: inline-block; 
    margin-left: 10px; 
    margin-left: 10px; 
    padding: 20px; 
    text-align: center; 
    border-radius: 20px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
} 
nav ul li a:link, nav ul li a:visited{ 
    color:#D17D98; 
    text-decoration: none; 
} 
nav ul li a:hover{ 
    color: #56021F; 
} 
nav ul li:hover{ 
    background-color: #F4CCE9; 
    width: 120px; 
} 
main{ 
    height: auto; 
    background-color: #EFE9D5; 
} 
section{ 
    width: 80%; 
    height: auto; 
    background-color:#497D74 ; 
    padding: 30px; 
    margin-top: 30px; 
    margin-bottom: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    overflow-x: auto; 
    font-size: 14pt; 
} 
h2, p{ 
    margin-bottom: 30px; 
} 
table{ 
} 
#tabla_1{ 
    width:80%; 
    margin-left: auto; 
    margin-right: auto; 
} 
#tabla_1 th, #tabla_1 td, #tabla_2 th, #tabla_2 td, #T3 th, #T3 td{ 
    padding-left: 15px; 
    padding-right: 15px; 
    padding-top: 6px; 
    padding-bottom: 6px; 
} 
#tabla_1 th, #tabla_2 th, #T3 th{ 
    background-color:#D17D98; 
} 
#tabla_1 td{ 
    background-color:#EFE9D5; 
} 
#tabla_2{ 
    width: 100%; 
   /* border-style: solid; 
    border-color: crimson;*/ 
    border: 2px solid crimson; 
    color: white; 
    border-spacing: 10px; 
    border-collapse: collapse; 
} 
#tabla_ th, #tabla_2 td{ 
        border: 2px solid crimson; 
} 
#tabla_2 tbody tr:nth-child(even){ 
    background-color: #71BBB2; 
} 
#tabla_2 tbody tr:nth-child(odd){ 
    background-color: #27445D; 
} 
#T3{ 
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: ; 
} 
#T3 td{ 
    height:50px; 
    padding-left: 10px; 
} 
#T3 th{ 
    height: 60px; 
} 
#T3 tr:hover{ 
    background-color: aqua; 
    color: brown; 
} 
#T3 th, #T3 td{ 
    border: 2px solid #27445D; 
} 
img{ 
    width: 20%; 
} 
.imagenes_box{ 
    width: 40%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
} 
.imagen_foltante_le{ 
    width: 20%; 
    float: left; 
    margin-right: 20px; 
} 
.imagen_flot_ri{ 
    width: 20%; 
    float: right; 
    margin-left: 20px; 
} 
.fondo{ 
    background-image: url(imagenes/flamingos-7525793_640.jpg); 
    background-size: cover; 
    opacity: 80%; 
} 
.icono{ 
    width: 64px; 
    height: auto; 
    margin-right: 50px; 
    margin-left: auto; 
    display: block; 
} 
.section-filtro{ 
    color:greenyellow; 
    text-align: center; 
} 
.section-filtro img{ 
    width: 25%; 
    display: inline-block; 
    margin-left: 10px; 
    margin-right: 10px; 
} 
form{ 
    width: 60%; 
    height: auto; 
    padding: 20px; 
    background-color: burlywood; 
    border-radius: 30px; 
    margin-left: auto; 
    margin-right: auto; 
} 
form label{ 
    color:white; 
    font-weight: 200; 
    margin-bottom: 30px; 
} 
input[type=text], input[type=password], input[type=date], input[type=tel], 
input[type=email],input[type=time], select { 
    width: 100%; 
    margin-bottom: 30px; 
    padding: 10px; 
    background-color: #F4CCE9; 
    border: 3px solid #71BBB2; 
} 
input[type=submit]{ 
    width: 20%; 
    min-width: 100px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    padding: 10px; 
    background-color: #F4CCE9; 
    border: 3px; 
    border-radius: 10px; 
    color: #497D74; 
} 
input[type=text]:focus, input[type=password]:focus,{ 
    color: aliceblue; 
    background-color: aquamarine; 
    border: 3px; 
}